.Container {
  @apply px-4 sm:px-6 lg:px-8;

  .Header {
    @apply sm:flex sm:items-center;

    div:first-child {
      @apply sm:flex-auto;
      h1 {
        @apply text-xl font-semibold text-gray-900;
      }
    }

    div:last-child {
      @apply mt-4 sm:mt-0 sm:ml-16 sm:flex-none;
      button {
        @apply inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto;
      }
    }
  }

  table {
    @apply min-w-full divide-y divide-gray-300;
    thead {
      @apply bg-gray-50;

      th {
        @apply px-3 py-3.5 text-left text-sm font-semibold text-gray-900;
        span {
          @apply sr-only;
        }
      }

      th:first-child {
        @apply py-3.5 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6;
      }

      th:last-child {
        @apply relative py-3.5 pl-3 pr-4 sm:pr-6;
      }
    }

    tbody {
      @apply divide-y divide-gray-200 bg-white;

      td {
        @apply whitespace-nowrap px-3 py-4 text-sm text-gray-500;
      }

      td:last-of-type {
        @apply relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6;

        button {
          @apply text-indigo-600  hover:text-indigo-900;
        }
      }
    }
  }
}