.Container {
  @apply relative my-6 mx-auto max-w-3xl z-10;
  width: 350px;

  .Content {
    @apply bg-white border-0 rounded-lg shadow-lg relative flex flex-col w-full  outline-none focus:outline-none p-2;

    .Title {
      @apply relative py-2 px-6 m-auto;
    }

    .Body {
      @apply text-sm text-gray-700 relative py-2 px-6 flex-auto m-auto
    }

    .Icon {
      @apply mx-auto flex items-center justify-center h-12 w-12 rounded-full bg-red-100;
      svg {
        @apply h-6 w-6 text-red-500;
      }
    }

    .ButtonContainer {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      @apply mt-5;

      //button {
      //  @apply hover:bg-graySecondary;
      //}

      button:first-of-type {
        @apply border-[1px] border-primary hover:bg-gray-100 bg-transparent text-black;
      }

      button:nth-child(2) {
        @apply ml-5;
      }
    }
  }
}



