.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 25px;
  @apply w-24 h-32 sm:w-28 sm:h-36;
  @apply shadow-md my-2;
}

.Container:hover {
  cursor: pointer;
}