.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 85vh;

  .Title {
    font-size: 2rem;
    @apply font-semibold;
  }

  .ButtonContainer {
    display: flex;
    width: 100%;
    @apply xs:flex-col xs:gap-4;
    @apply sm:flex-col sm:gap-4;
    @apply md:flex-row lg:flex-row;
    @apply md:justify-between lg:justify-between;

    .FileInput {
      @apply sm:w-full md:w-1/2 lg:w-1/4;
    }

    button {
      @apply sm:w-full md:w-1/2 lg:w-1/4;
    }
  }

  a {
    @apply text-sm;
    @apply hover:scale-105 ease-in-out duration-150;
    @apply font-medium text-textLight hover:text-graySecondary;
  }
}