.Container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  width: 100%;
  height: 80vh;

  .Title {
    font-size: 2rem;
    @apply font-semibold;
  }

  .ButtonContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    @apply xs:flex-col xs:gap-4;

    .FileInput {
      width: 25%;
      @apply xs:w-full;
    }

    button {
      width: 25%;
      @apply xs:w-full;
    }

  }
}