.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  width: 100%;

  p {
    @apply text-textLight;
  }

  form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    gap: 1rem;
    min-width: 12.5rem;

    .Input {
      max-width: 100%;
    }

    input {
      @apply focus:border-graySecondary;
    }

    label {
      padding-left: 0.5rem;
      font-size: x-small;
    }

    button {
      margin-top: 1rem;
      width: 100%;
    }
  }
}