.Container {
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;

  p {
    @apply text-textLight;
  }

  form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    min-width: 12.5rem;

    .Input {
      max-width: 100%;
    }

    input {
      @apply focus:border-graySecondary;
    }

    label {
      margin-top: 1rem;
      padding-left: 5px;
      font-size: x-small;
    }

    button {
      margin-top: 2rem;
      width: 100%;
    }
  }
}