.Container {

  .DateContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .OfficeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

.Flex {
  @apply flex justify-between
}