.Container {
  .DateContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  button {
    width: 12%;
    float: right;
    @apply xs:w-20;
  }
}

.Flex {
  @apply flex justify-between
}