.Container {
  @apply min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8 mt-12;

  .Header {
    @apply sm:mx-auto sm:w-full sm:max-w-md;
    img {
      @apply mx-auto h-12 w-auto;
    }

    h2 {
      @apply mt-6 text-center text-3xl font-extrabold text-gray-900;
    }

    p {
      @apply mx-auto text-accent text-center text-sm;
    }
  }

  .ErrorContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  form {
    @apply space-y-6 mt-2 sm:mx-auto sm:w-full sm:max-w-md bg-white py-8 px-4  sm:rounded-lg sm:px-10;
    input {
      @apply focus:border-graySecondary;
    }
  }

  .Actions {
    @apply flex items-center;
    div {
      @apply text-sm first:pr-1;
      @apply last:hover:scale-105 last:ease-in-out last:duration-150;

      a {
        @apply font-medium text-textLight hover:text-graySecondary;
      }
    }
  }
}