.Container {
    @apply mx-5 ;
}
.WidthFull {
    @apply  w-full
}
.Arrow {
    font-size: 60px;
    position: absolute;
    cursor: pointer;
    z-index: 10;
}
.Next {
    right: -1.5rem;
    top: 45%;
}
.Prev {
    left: -1.5rem;
    top: 45%;
    transform: rotate(180deg);
}