.Container {
    @apply mx-5 ;

    svg {
        @apply w-5 cursor-pointer;
    }
}
.WidthFull {
    @apply  w-full
}
.Arrow {
    position: absolute;
    cursor: pointer;
    z-index: -1;
}
.Next {
    right: -1.5rem;
    top: 45%;
}
.Prev {
    left: -1.5rem;
    top: 45%;
    transform: rotate(180deg);
}